* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  font-family: Roboto;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
  max-width: 1440px;
  margin: 0 auto;
}
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 34.2px;
  margin: 30px auto 30px auto;
}
.loc {
  background-color: #eaeaea;
  text-align: center;
  vertical-align: middle;
  line-height: 45px;
  position: relative;
  gap: 17px;
  height: 50px;
}
