@import "./base/typography";
@import "./base/variables";
@import "./components/button";
@import "./layouts/footer";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  font-family: Roboto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 30px;
  max-width: 1440px;
  margin: 0 auto;
}
.rest_title {
  font-family: Shrikhand;
  font-size: 28px;
  align-self: start;
  @media (min-width: 768px) {
    align-self: center;
  }
}
.rest_img {
  width: 100%;
  height: 275px;
  object-fit: cover;
}
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 34.2px;
  margin: 30px auto 30px auto;
}
.menu {
  background-color: $bg-color;
  display: flex;
  justify-content: center;
  padding: 0px 13px 13px 13px;
  position: relative;
  width: 100%;
  max-width: 1055px;
  &::after {
    content: "";
    width: 100%;
    height: 30px;
    top: -30px;
    left: 0;
    background: $bg-color;
    position: absolute;
    border-radius: 30px 30px 0 0;
  }
  .wrapper {
    width: 100%;
    gap: 40px;
    max-width: 640px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .category {
    width: 100%;
  }
}
.rest_item {
  background-color: white;
  width: 100%;
  height: 70px;
  border-radius: 15px;
  margin-bottom: 12px;
  padding: 13.5px 47px 13.5px 15px;
  display: flex;
  flex-direction: column;
  &_category {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 12px;
    position: relative;
    &::after {
      content: "";
      width: 40px;
      height: 3px;
      background: #99e2d0;
      left: 0;
      bottom: -5px;
      position: absolute;
    }
  }
  & .prix {
    text-align: right;
    font-size: 15px;
    font-weight: 700;
  }
  &_desc {
    font-size: 15px;
    font-weight: 300;
  }
}
