@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
.button {
  padding: 13px 18.75px;
  width: 186px;
  height: 50px;
  border-radius: 25px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  color: white;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

footer {
  width: 100%;
  height: 186px;
  padding: 30px 25px 30px 25px;
  gap: 16px;
  background-color: rgb(53, 53, 53);
  color: white;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  footer {
    flex-direction: row-reverse;
    height: 114px;
    align-items: end;
  }
}
footer .footer_logo {
  color: white;
  font-family: Shrikhand;
  font-size: 1.15rem;
  font-weight: 400;
  text-decoration: italic;
}
footer .footer_links {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  footer .footer_links {
    flex-direction: row;
    gap: 7px;
  }
}
footer .footer_link {
  display: flex;
  gap: 16px;
  color: white;
  text-decoration: none;
}
footer .footer_link .fa-solid {
  display: inline-flex;
  vertical-align: middle;
  justify-content: center;
  width: 12px;
}
@media (min-width: 768px) {
  footer .footer_link {
    width: 130px;
  }
}
@media (min-width: 768px) {
  footer .footer_link.w-large {
    width: 200px;
  }
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-family: Roboto;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
  max-width: 1440px;
  margin: 0 auto;
}

.flexCC {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 25px;
  padding: 20px 20px;
  margin: 0;
  transition: padding 0.3s ease-in-out;
}
@media screen and (min-width: 768px) {
  .wrapper {
    padding: 20px 100px;
  }
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 34.2px;
  margin: 30px auto 30px auto;
}

.loc {
  background-color: #eaeaea;
  text-align: center;
  vertical-align: middle;
  line-height: 45px;
  position: relative;
  gap: 17px;
  height: 50px;
}

.book {
  gap: 30px;
  text-align: center;
  background: #f6f6f6;
  align-items: center;
}
.book_text_title {
  font-weight: 700;
  font-size: 40px;
}
.book_text_desc {
  font-size: 18px;
  font-weight: 300;
  margin: 18px 0;
}

.steps {
  width: 100%;
  background: #fff;
}
.steps_title {
  font-weight: 700;
  font-size: 24px;
}
.steps_list {
  display: grid;
  gap: 20px 40px;
  padding-left: 10px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}
.steps .step_item {
  display: flex;
  height: auto;
  border-radius: 20px;
  justify-content: start;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  background: #f6f6f6;
  padding: 26px 0;
  gap: 15px;
}
.steps .step_item_number {
  background: #c580f0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  transform: translateX(-16px);
}
.restaurants {
  background: #f6f6f6;
}
.restaurants .cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px 100px;
  border-radius: 15px;
}
.restaurants .cards .card {
  background: white;
  border-radius: 15px;
  overflow: hidden;
  color: black;
  text-decoration: none;
}
.restaurants .cards .card_img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.restaurants .cards .card_content {
  display: flex;
  justify-content: space-between;
  padding: 16px 14px;
}
.restaurants .cards .card_title {
  font-size: 18px;
  font-weight: 700;
}
.restaurants .cards .card_desc {
  font-weight: 300;
  font-size: 17px;
}
.restaurants .cards .card_like {
  display: flex;
  align-items: center;
  justify-self: center;
}
.restaurants .cards .card_like .gradient_hover {
  -webkit-text-stroke: 1px #9356dc;
  color: white;
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  top: 0;
  left: 0;
}
.restaurants .cards .card_like .gradient_hover:hover {
  background: #9356dc;
  background: linear-gradient(to top, #9356dc 0%, #ff79da 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  opacity: 1;
}
.restaurants .cards .card_like .stroke_hover {
  -webkit-text-stroke: 1px black;
  color: white;
  position: relative;
}

/*# sourceMappingURL=index.css.map */
